{% extends "base.html" %}

{% block title %}About Me - DJ Blog{% endblock %}

{% block content %}
<h1 class="roboto-flex-custom">About Me</h1>
<img src="{{ url_for('static', filename='images/chicago.jpeg') }}" alt="About Trey" style="width:300px; height:auto;">


<p>I’m not one to reveal too much—a wanderer of the urban maze, molded by the midnight pulse of concrete and whispered secrets of hidden alleys. Born under city lights and raised on the rhythms of restless streets, I’ve always danced on the edge of mystery, finding beauty in the unspoken and solace in solitude.

I live by the unyielding spirit of the East Coast—a blend of raw grit and poetic allure, where every corner hides a story waiting to be unraveled. I’ve seen the shadowed underside of the city, where the echoes of old legends mix with the fresh beat of tomorrow, and I carry that enigma with every step I take.

Step into my world, where every line of music, every beat of the night, and every flicker of neon speaks of a life lived in the margins—a journey where mystery isn’t just a state of mind, but a way of life.


</p>
{% endblock %}
